*{
    margin: 0;
    padding: 0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

body {
    overflow-x: hidden;
    background-color: #00112E;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.2s ease;
}

.Title {
    color: white;
    font-size: 45px;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.local-nav {
    z-index: 1;
    height: 60px;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 29, 54, 0.31);
    backdrop-filter: blur(10px);
}

.local-nav-links {
    display: flex;
    align-items: center;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.local-nav-links a {
    font-size: 13px;
}
.local-nav-links a:hover {
    color: #00d4b1;
}
.local-nav-links a:not(.Main-logo) {    
    padding: 12px 15px;
}

.local-nav-links .Main-logo {
    margin-right: auto;
    font-size: 1.4rem;
    font-weight: bold;
    background: linear-gradient(to left, #9167d4,#00C9A7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-two {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hover-div:hover .h4-title {
    color:#00d4b1;
}

.hover-div:hover img {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: translateY(-2%);
}

.h4-title {
    transition: 0.2s ease-in-out;
}

img {
    width: 800px;
    height: 480px;
    box-sizing: border-box;
    border-radius: 16px;
    transition: 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.article-img {
    margin-bottom: 30px;
    
}

.article-img,
.article-content1 {
    cursor: pointer;
}

.span-title,
.h4-title,
.p-tag {
    margin-bottom: 10px;
}

.span-title,
.content-time {
    font-size: 15px;
    color: #8b95a1;
}

.h4-title {
    font-size: 32px;
}

.p-tag {
    font-size: 16px;
}

.article-content1 {
    color: white;
    position: relative;
    left: 10px;
    /* right: 60px; */
    display: flex;
    flex-direction: column;
}